/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Montserrat", sans-serif;
}
.dc-logo {
    width: 50px;
    background-color: white;
}
.img-comic {
    width: 150px;
}
.img-jumbo {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
